<nav class="navbar navbar-expand-lg navbar-light bottom-border">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 logo">Nobik</span>
      <button 
        class="navbar-toggler toggle-button" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse dropdown" id="navbarSupportedContent">                
        <!-- <button class="button-nav outline">Zaloguj</button>
        <button class="button-nav">Zarejestruj</button> -->
        <a href="./error.html">Zaloguj się</a>
        <br>
        <a href="./error.html">Zarejestruj się</a>
      </div>
    </div>
</nav>